.formulario{
    background-image: url(../multimedia/banner.jpg);
    background-size:cover;
    background-position: right;
    background-repeat: no-repeat;

    p{
        padding-bottom: 15px;
        padding-left: 50px;
    }

    .contacFlex{
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 25px;
    
        form{
            border: 2px solid #ab9b8a;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            padding: 15px;
        }

        p{
            padding: 0;
        }
    }
    input, textarea, select, button {
        width : 300px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }    
}