/*muestra Productos*/
.produc {
    @include fondo(url(../multimedia/banner.jpg),cover,right,no-repeat);

    h2 {
        text-align: center;
        font-size: 1.2rem;
    }

    .card {
        width: 70%;
        margin: 50px;
        border: 1px solid#bab3aa;

        h3 {
            font-size: 1.7rem;
            color: $marron;
        }

        p {
            font-size: 1.1rem;
            color: $marron;
        }
    }

    .produc img {
        width: 100%;
    }
}